@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.sign-up-form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    height: 650px;
    font-family: "Montserrat", sans-serif;
}

.sign-up-pic {
    height: 650px;
    width: 700px;
}

.sign-up-form {
    margin-right: 160px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 500px;
    height: 520px;
}

.sign-up-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.sign-up-form-description {
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

input[type="text"] {
    margin-bottom: 15px;
}

input.sign-up-name-inputs[type="text"] {
    width: 190px;
    margin-right: 20px;
}

.sign-up-btn {
    width: 400px;
    padding: 8px 0 8px 0;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    margin: 50px 0 20px 0;
    color: black;
    background-color: rgb(152, 202, 237);
}

.sign-up-btn:hover {
    background-color: rgba(152, 202, 237, 0.7);
}