@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.booking-page-body {
    font-family: "Montserrat", sans-serif;
    background-image: url("../../assets/homepage-background.jpg");
    margin: 0 auto;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/*
.booking-page-form-wrapper {
    margin: 0 auto;
    margin-top: 150px;
    width: 700px;
    height: 800px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.2);
}*/

.booking-page-form-description {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: rgb(152, 202, 237);
    padding: 30px 0 30px 0;
}

.booking-page-form {
    font-weight: bold;
    margin: 0 auto;
    margin-top: 120px;
    width: 700px;
    height: 820px;
    box-shadow: 0 2px 10px 7px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.booking-page-table {
    margin: 40px 0 20px 90px;
}

.booking-page-form-section {
    margin-bottom: 20px;
}

.booking-page-td {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.booking-page-booking-type {
    font-weight: normal;
}

input.booking-seat-price[type="text"] {
    border-style: none;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 5px 0 5px 10px;
    width: 500px;
}

input[type="radio"] {
    margin: 0 10px 0 10px;
}

.booking-page-seat-selection-id {
    border-style: none;
    padding: 5px 15px 5px 15px;
    margin-right: 25px;
}

.booking-page-seat-selection-id:hover {
    background-color: rgb(152, 202, 237);
    box-shadow: 2px 1px 5px 3px rgba(0, 0, 0, 0.08);
}

.booking-page-submit-btn {
    border-style: none;
    background-color: rgb(152, 202, 237);
    font-weight: bold;
    font-size: 20px;
    width: 500px;
    height: 50px;
    margin-left: 90px;
}